<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Perfect Placement Services</title>
<link href="/content/foundation/stylesheets/foundation.css" rel="stylesheet" />
<link href="/content/webicons/fc-webicons.css" rel="stylesheet" />
<link href="/content/styles/comingsoon.css" rel="stylesheet" />
<script type="text/javascript" src="/content/foundation/javascripts/jquery.js"></script>
<script type="text/javascript" src="/content/foundation/javascripts/foundation.min.js"></script>

</head>

<body>
<!-- Header and Nav -->
  
  
  
  <div id="main">
  
  	<div class="header">
  		<div class="row">
	  		<div class="three columns">
	  			<a href="#">Home</a>
	  		</div>
	  		<div class="eight columns">
	  			<a href="#" class="fc-webicon facebook small">Like us on Facebook</a>
	  		</div>
	  	</div>
  	</div>
  	
  	<div class="mainContent">
		<div class="row">
			<div class="twelve columns">
				<!-- Navigation -->
				<div class="row">
				    <div class="three columns">
				      <h1><img src="http://placehold.it/400x200&text=Logo" /></h1>
				    </div>
				    <div class="nine columns">
				      <ul class="nav-bar right">
				        <li><a href="#">Link 1</a></li>
				        <li><a href="#">Link 2</a></li>
				        <li><a href="#">Link 3</a></li>
				        <li><a href="#">Link 4</a></li>
				      </ul>
				    </div>
				</div>
				<div class="row">
				    <div class="twelve columns">
				      <div id="slider">
				        <img src="http://placehold.it/1000x400&text=[img 1]" />
				        <img src="http://placehold.it/1000x400&text=[img 2]" />
				        <img src="http://placehold.it/1000x400&text=[img 3]" />
				        <img src="http://placehold.it/1000x400&text=[img 4]" />
				      </div>
				    </div>
				</div>
				
				<!-- Three-up Content Blocks -->
				<div class="row">
  
				    <div class="four columns">
				      <img src="http://placehold.it/400x300&text=[img]" />
				      <h4>This is a content section.</h4>
				      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
				    </div>
				    
				    <div class="four columns">
				      <img src="http://placehold.it/400x300&text=[img]" />
				      <h4>This is a content section.</h4>
				      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
				    </div>
				    
				    <div class="four columns">
				      <img src="http://placehold.it/400x300&text=[img]" />
				      <h4>This is a content section.</h4>
				      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
				    </div>
				    
				</div>
				
				<div class="row">
				    <div class="twelve columns">
				    
				      <div class="panel">
				        <h4>Get in touch!</h4>
				            
				        <div class="row">
				          <div class="nine columns">
				            <p>We'd love to hear from you, you attractive person you.</p>
				          </div>
				          <div class="three columns">
				            <a href="#" class="radius button right">Contact Us</a>
				          </div>
				        </div>
				      </div>
				      
				    </div>
				</div>
				<div id="footer" style="background-color: #363636; height: 200px;">
					<div class="row">
						<div class="twelve columns">
							something
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>

  </div>
  
  <!-- End Header and Nav -->
  
  
  <!-- First Band (Slider) -->
  <!-- The Orbit slider is initialized at the bottom of the page by calling .orbit() on #slider -->
    
  
  
  
  
  
  
  
  
  <!-- Call to Action Panel -->
  
  
  
  <!-- Footer -->
  
  <footer class="row">
    <div class="twelve columns">
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright Perfect Placement Services, Inc. Go to town.</p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>

<!-- Put this above your </body> tag -->
<script type="text/javascript">
  $(window).load(function() {
    $('#slider').orbit();
  });
</script>
</body>
</html>