<!-- START Footer -->
      <footer>
         <div class="center-wrap tt-relative">
            <div class="footer-content clearfix">
               
               
               <div class="footer-default-one">
                  <div class="sidebar-widget">
                     <div class="textwidget">
                     	<img src="/content/images/bluelogo.png" alt="Perfect Placement Services" style="margin-right: 5px;" /><img src="/content/images/Veterans-Owned-Small-Business.png" alt="Veteran Owned Small Business" />
                        <p>
                           Perfect Placement Services, Inc. A full service employment agency for temporary staffing services and job placements.
                        </p>
                        <p>Perfect Placement Services, Inc. is a Veteran Owned Small Business</p>
                        
                     </div>
                     <!-- END textwidget -->
                  </div>
                  <!-- END sidebar-widget -->
               </div>
               <!-- END footer-default-one -->
              
             
               
               <div class="footer-default-three">
                  <div class="sidebar-widget">
                     <p class="foot-heading">Connect with us</p>
                     <ul class="social_icons">
                        <li><a href="http://www.facebook.com/perfectplacementservices" class="facebook">Facebook</a></li>
                     </ul>
                  </div>
                  <!-- END sidebar-widget -->
               </div>
               <!-- END footer-default-three -->
            </div>
            <!-- END footer-content -->
         </div>
         <!-- END center-wrap -->
         <div class="footer-copyright clearfix">
            <div class="center-wrap clearfix">
               <div class="foot-copy">
                  <p>Copyright &copy; 2012 Perfect Placement Services, Inc. All rights reserved.</p>
               </div>
               <!-- END foot-copy -->
               <a href="#" id="scroll_to_top" class="link-top">Scroll to Top</a>
               <ul class="footer-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="/jobs">Find a Job</a></li>
                  <li><a href="/aboutus">About Us</a></li>
                  <li><a href="/contact">Contact</a></li>
               </ul>
            </div>
            <!-- END center-wrap -->
         </div>
         <!-- END footer-copyright -->	
         <div class="shadow top"></div>
         <div class="tt-overlay"></div>
      </footer>