<!-- START small_banner -->
      <section class="small_banner">
         <div class="center-wrap">
            <p class="page-banner-heading">@ViewBag.Title</p>
            <p class="page-banner-description">@ViewBag.SmallBannerText</p>
            
            <div class="breadcrumbs">
            <a href="/">Home</a> &rarr; <span class="current_crumb">@ViewBag.Title</span>
            </div>
            <!-- END breadcrumbs -->
         </div>
         <!-- END center-wrap -->
         
         <div class="shadow top"></div>
         <div class="shadow bottom"></div>
         <div class="tt-overlay"></div>
      </section>