@{
	ViewBag.Title = "Home";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!-- START Banner Area -->
      <section class="banner-slider">
         <div class="center-wrap">
            <div id="slides">
               <div class="slides_container">
                  
                  
                  
                  
                  
                  
                  <div class="clearfix home-slider-post" id="slider-post-877">
                     <div class="one_half" style="overflow: visible;">
                        <div class="full-half" style="background-color: #fff; padding: 8px; overflow: visible; height: 223px;"><img src="/content/images/group.png" alt="Find the perfect job" /></div>
                     </div>
                     <div class="one_half">
                        <h2>Find The Perfect Job For You</h2>
                        <p>Let us help you find your dream job. We have immediate openings in many different professions. It's easy to take the first step.</p>
                        <p><a href="/apply" class="small orange button" title="Apply for a job now"> Apply Now </a></p>
                     </div>
                  </div>
                  <!-- END slider post -->
                  
                  
                  
               </div>
               <!-- END slides_container -->
            </div>
            <!-- END slides -->
         </div>
         <!-- END center-wrap -->
         <div class="shadow top"></div>
         <div class="shadow bottom"></div>
         <div class="tt-overlay"></div>
      </section>
      <!-- END Banner Area -->
      
      <!-- START Content Container -->
      <section id="content-container" class="clearfix">
         <div id="main-wrap" class="main-wrap-slider clearfix">
            <div class="one_third">
               <div class="img-frame full-third-short"><a href="#" target="_self"><img src="/content/images/professional-research.png" alt="Professional Research" width="280" height="124" /></a></div>
               <h4>Professional Research</h4>
               <p>We have placement consultants who specialize in placing clerical support personnel and know who is available and can qualify for your needs now. By choosing Perfect Placement Services you truly will be getting a "Perfect Placement".</p>
            </div>
            <div class="one_third">
               <div class="img-frame full-third-short"><a href="#" target="_self"><img src="/content/images/personal-service.png" alt="Personal Service" width="280" height="124" /></a></div>
               <h4>Personal Service</h4>
               <p>At Perfect Placement Services we strive to get to know the companies we work with, we believe an understanding of corporate culture and learning what types of people tend to thrive within your organization helps to determine the perfect person for the job and sets us apart from the rest.</p>
            </div>
            <div class="one_third">
               <div class="img-frame full-third-short"><a href="#" target="_self"><img src="/content/theme/content-images/businesswoman-drawing-diagram-on-a-natural-background-280x124.jpg" alt="Flexible Options" width="280" height="124" /></a></div>
               <h4>Flexible Options</h4>
               <p>Perfect Placement Services can provide office assistants for long or short term assignments and candidates are available immediately in most cases.</p>
            </div>
            <div class="column-clear">&nbsp;</div>
            <p class="tt-icon icon-user-group">
         		For unique skill sets or hard to find characteristics needed for specific office support roles <a href="/contact">contact us</a> to see how we can help you.
         	</p>
         </div>
         <!-- END main-wrap -->
      </section>
      <!-- END Content Container -->
