@model PerfectPlacement.Models.ApplyViewModel
@{
	ViewBag.Title = "Error";
	Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section id="content-container" class="clearfix">
         <div id="main-wrap" class="clearfix">
            
               <p><strong>Oops! Something went wrong.</strong></p>
               <p>Here are some links that you might find useful:</p>
               <ul class="not-found-list">
                  <li><a href="/">Home</a></li>
                  <li><a href="/jobs">Find a Job</a></li>
                  <li><a href="/contact">Contact Us</a></li>
               </ul>
            
            <!-- END page-not-found -->
         </div>
         <!-- END main-wrap -->
      </section>
      <!-- END content-container -->    