<!-- START Header -->
      <header>
         <div class="center-wrap">
            <div class="companyIdentity">
               <a href="/"><img src="/content/images/ppslogolarge.png" alt="Perfect Placement Services" width="200"/></a>
            </div>
            <!-- END companyIdentity -->
            
            
            
            
            <!-- START Main Navigation -->
            <nav>
               <ul>
                  <li><a href="/">Home</a></li>
                  <li>
                     <a href="/jobs">For Employees</a>
                     <ul class="sub-menu">
                        <li><a href="/jobs">Find a Job</a></li>
                        <li><a href="/apply">Apply Now</a></li>
                        <li><a href="/forms">Forms</a></li>
                     </ul>
                  </li>
                  <li><a href="/aboutus">About Us</a></li>
                  <li><a href="/contact">Contact Us</a></li>
               </ul>
            </nav>
            <!-- END Main Navigation -->
         </div>
         <!-- END center-wrap -->
      </header>
      <!-- END Header -->