<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Perfect Placement Services</title>
<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>

<link href="/content/bootstrap/css/bootstrap.css" rel="stylesheet"/>
<link href="/content/styles/comingsoon.css" rel="stylesheet" />
</head>

<body>
<div class="container">
	<div class="row">
		<div class="span12">
			<div class="box">
				<div style="width: 300px; margin: 0 auto;">
					<img alt="Perfect Placement Services" src="/content/images/ppslogolarge.png" style="width: 300px;" />
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div style="font-size: 18px; font-weight: bold; color: #666; text-align: center;">Coming Soon</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<ul class="thumbnails">
	          <li class="span3">
	            <div class="thumbnail">
	              <div class="caption">
	                <h5>Professional</h5>
	                <h3>research</h3>
	              </div>  
	              <div class="thumbnail-pad">
	                  <p>We have placement consultants who specialize in placing clerical support personnel and know who is available and can qualify for your needs now. By choosing Perfect Placement Services you truly will be getting a "Perfect Placement".</p>
	              </div>
	            </div>
	          </li>
	          <li class="span3">
	            <div class="thumbnail">
	              <div class="caption">
	                <h5>Personal</h5>
	                <h3>Service</h3>
	              </div>  
	              <div class="thumbnail-pad">
	                  <p>At Perfect Placement Services we strive to get to know the companies we work with, we believe an understanding of corporate culture and learning what types of people tend to thrive within your organization helps to determine the perfect person for the job and sets us apart from the rest.</p>
	              </div>
	            </div>
	          </li>
	          <li class="span3">
	            <div class="thumbnail">
	              <div class="caption">
	                <h5>Flexible</h5>
	                <h3>Options</h3>
	              </div>  
	              <div class="thumbnail-pad">
	                  <p>Perfect Placement Services can provide office assistants for long or short term assignments and candidates are available immediately in most cases.</p>
	              </div>
	            </div>
	          </li>
	          <li class="span3">
	            <div class="thumbnail">
	              <div class="caption">
	                <h5>Custom</h5>
	                <h3>Solutions</h3>
	              </div>
	              <div class="thumbnail-pad">  
	                  <p>For unique skill sets or hard to find characteristics needed for specific office support roles call us to see how we can help you.</p>
	                  <a class="btn btn_" href="mailto: solutions@pps-az.com" style="margin-top: 20px;">Contact Us</a>
	              </div>
	            </div>
	          </li>
	        </ul>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="bottom">
				<div class="findUs">
					<a href="http://www.facebook.com/PerfectPlacementServices" target="_blank" class="fbLink">Find us on Facebook</a>
				</div>
				<div style="line-height: 32px;">Perfect Placement Services, Inc. | 19820 North 7th Street, Suite 145 | Phone: 623.842.2900 | Fax: 623.842.2904 </div>
				<div style="clear: right;"></div>
			</div>
		<div>
	</div>
</div>
</body>
</html>