@{
	ViewBag.Title = "Apply";
	Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section id="content-container" class="clearfix">
   <div id="main-wrap" class="clearfix">
   <h4>Find the Perfect Job</h4>
   <p>Let us help you find the perfect job. We have openings right now for the following job categories and positions:</p>

		
         <iframe src="http://curaportal.mindscope.com/PERFEC04103_CURA/aspx/form.asp" width="600" height="1250"></iframe>

   </div>
   <!-- END main-wrap -->   
</section>
<!-- END content-container -->