@{
	ViewBag.Title = "Find a Job";
	Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section id="content-container" class="clearfix">
   <div id="main-wrap" class="clearfix">
   <h4>Find the Perfect Job</h4>
   <p>Let us help you find the perfect job. We have openings right now for the following job categories and positions:</p>

		<dl class="tabs_type_1">
            <dt class="current">Engineering</dt>
            <dd class="current">
               <p>
               Perfect Placement Services' business experience within the engineering and environmental sectors is extensive. We have been servicing customers within these industries for many years, for light industrial position needs. With the addition of a professional staffing division we have expanded our services to include recruiting and staffing for these high end placements.  We specialize in locating and placing qualified people for all levels of jobs from entry level to senior level.   For these positions we work hard to pair skills, education, experience, and temperament with technical and engineering jobs which support existing and new customers. 
               </p>
               <p>Temporary, temp to hire, direct hire and contract positions are available.  We will work to provide your company with a single resource or an entire team.  Some of the positions we can provide include:</p>
               <div class="one_third">
               <ul>
				<li>Chemical Engineers</li>
				<li>Civil Design Engineers</li>
				<li>Civil Engineers</li>
				<li>Electrical Engineers</li>
				<li>Land Developments</li>
				<li>Industrial Engineers</li>
				<li>Process Engineers</li>
				<li>Surveyors</li>
				</ul>
				</div>
				<div class="one_third">
               <ul>
				<li>Highway Designers</li>
				<li>Systems Engineers</li>
				<li>Street Transportation specialists</li>
				<li>Drafters and Designers</li>
				<li>Structural Engineers</li>
				<li>Technical Writers</li>
				<li>Transportation Engineers</li>
				</ul>
				</div>
				<div class="one_third">
               <ul>
				<li>Environmental Health and Safety</li>
				<li>Environmental Remediation specialists</li>
				<li>Environmental Scientists</li>
				<li>Field  Technicians</li>
				<li>Geologists</li>
				<li>Soil Technicians</li>
				<li>Water Treatment specialists </li>
				</ul>
				</div>
				<div class="column-clear">&nbsp;</div>
				<p><a href="/apply" class="small orange button" title="Apply for a job now"> Apply Now </a></p>
            </dd>
            
            <dt>Information Technology</dt>
            <dd class="current">
               <p>
               Determining availability of IT staff is an ongoing and challenging primary role for this division as well as staying current with IT skills, web development skills and coding languages. Our knowledge of technical skills required by employers sets us apart from other staffing agencies; we can prescreen for IT skills and verify that potential candidates meet your requirements before they are referred to you.  We work with IT professionals as contract, direct hire or temporary placements.
               </p>
               <p>Temporary, temp to hire, direct hire and contract positions are available.  We will work to provide your company with a single resource or an entire team.  Some of the positions we can provide include:</p>
               <div class="one_third">
               <ul>
				<li>Application Developers</li>
				<li>System Development Program Managers</li>
				<li>System Architects</li>
				<li>Business Analysts</li>
				<li>Network support staff</li>
				<li>Network Engineer</li>
				<li>Database Administrators</li>
				<li>Database Architects</li>
				<li>Database Developers</li>
				</ul>
				</div>
				<div class="one_third">
               <ul>
				<li>Database Analysts</li>
				<li>Document Management</li>
				<li>Desktop Support personnel</li>
				<li>Hardware Technicians</li>
				<li>Help Desk Support Staff</li>
				<li>IT Directors or Managers</li>
				<li>IT Sales</li>
				<li>Management Analysts</li>
				<li>Programmer Analysts</li>
				</ul>
				</div>
				<div class="one_third">
               <ul>
				<li>Project Leaders</li>
				<li>Software  Engineers</li>
				<li>Systems Administrators</li>
				<li>Systems Analysts</li>
				<li>Technical Trainers</li>
				<li>Technical Writers</li>
				<li>Telecommunication Specialists</li>
				<li>Web Design professionals</li>
				<li>And More&hellip;</li>
				</ul>
				</div>
				<div class="column-clear">&nbsp;</div>
				<p><a href="/apply" class="small orange button" title="Apply for a job now"> Apply Now </a></p>
            </dd>
            
            <dt>Accounting / Financial</dt>
            <dd class="current">
               <p>
               Perfect Placement Services has a proven track record of making sure both the candidate and the company are completely satisfied with a placement. Within the financial industries we support placement requests for qualified professionals with experience in all areas of accounting, tax preparation, accounts receivable and payables, payroll and much more. Positions within this category range from clerical support for billing to fully qualified accounting professionals.  Within the financial industry we understand that there are peak seasonal periods in which qualified support staff are needed to meet the demand.  We maintain a database of candidates with the skills you need in locations close to your business.  We can background check individuals working with sensitive information as well to help ensure the security of your data.
               </p>
               <p>Temporary, temp to hire, direct hire and contract positions are available.  We will work to provide your company with a single resource or an entire team.  Some of the positions we can provide include:</p>
               <div class="one_third">
               <ul>
				<li>Accounts Payable/Receivable</li>
				<li>Accounting Clerks</li>
				<li>Billing Clerks</li>
				</ul>
				</div>
				<div class="one_third">
               <ul>
				<li>Bookkeepers</li>
				<li>Collections personnel</li>
				<li> Finance personnel </li>
				</ul>
				</div>
				<div class="one_third">
               <ul>
				<li>Financial Analysts</li>
				<li>Payroll specialists</li>
				<li>Accounting professionals </li>
				</ul>
				</div>
				<div class="column-clear">&nbsp;</div>
				<p><a href="/apply" class="small orange button" title="Apply for a job now"> Apply Now </a></p>
            </dd>
            
            
            <dt>Clerical</dt>
            <dd class="current">
               <p>
               We know that support personnel are critical to a healthy productive organization.  We make an effort to get to know the companies we work with, we believe an understanding of corporate culture and learning what types of people tend to thrive within an organization helps to determine the right person for the job.  Perfect Placement Services can provide office assistants for long or short term assignments and candidates are available immediately in most cases.  For unique skill sets or hard to find characteristics needed for specific office support roles call us to see how we can help you. We have Staffing Consultants who specialize in placing clerical support personnel and know who is available and can qualify for your needs now.
               </p>
               <p>Temporary, temp to hire, direct hire and contract positions are available.  We will work to provide your company with a single resource or an entire team.  Some of the positions we can provide include:</p>
               <div class="one_third">
               <ul>
				<li>Secretarial</li>
				<li>Office Clerk</li>
				<li>File Clerk</li>
				<li>Administrative Assistant</li>
				<li>Receptionist </li>
				</ul>
				</div>
				<div class="one_third">
               <ul>
				<li>Data Entry Personnel</li>
				<li>Call Center Staff</li>
				<li>Customer Service Representatives</li>
				<li>Appointment Setters</li>
				<li>Payroll Clerks </li>
				</ul>
				</div>
				<div class="one_third">
               <ul>
				<li>Bilingual Clerical Assistants</li>
				<li>Bookkeeping</li>
				<li>Accounts Receivable and Payable</li>
				<li>Cashiers </li>
				</ul>
				</div>
				<div class="column-clear">&nbsp;</div>
				<p><a href="/apply" class="small orange button" title="Apply for a job now"> Apply Now </a></p>
            </dd>
            
            
            
         </dl>
         <!-- END accordion -->

   </div>
   <!-- END main-wrap -->   
</section>
<!-- END content-container -->