@{
	ViewBag.Title = "About Us";
	Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section id="content-container" class="clearfix">
         <div id="main-wrap" class="clearfix">
            <p>
            Perfect Placement Services, Inc. specializes in providing a wide range of employment support for businesses. Our unique methodology for identifying the right person for the job includes a rigorous prescreening process to help alleviate the typical ‘temporary staffing’ pitfalls that exist in this industry. We believe in finding the right person for the job every time and work with our clients to help identify the right set of skills, experience, education and characteristics needed for the job at hand. 
            </p>
            <h4>Who We Are</h4>
            <p>
            Perfect Placement Services, Inc. provides quality staffing and IT consulting support to businesses. We work with IT consultants representing a broad range of skills and experience in many types of IT related fields ranging from system coders, analysts, and testers to highly qualified project management consultants.  Additionally we offer full spectrum staffing options across a broad variety of industries. 
			</p>
			<p>Perfect Placement Services have expanded from the light industrial staffing sector to include full service staffing.  We currently offer placement assistance in a wide variety of industries including:</p>
			<ul>
			<li>Administrative and Clerical</li>
			<li>Environmental and Engineering</li>
			<li>Information Technology and Consulting</li>
			<li>Legal and Medical Office support</li>
			<li>Accounting and Financial</li>
			<li>Healthcare and Nursing</li>
			</ul>
			<p>Although not all service categories above are offered in all areas, we are working every day to continue to expand. Our objective is to secure strong supportive relationships with our current customers by providing full service staffing options as well as developing new markets toward expansion.</p>
         </div>
         <!-- END main-wrap -->   
      </section>
      <!-- END content-container -->