@{
	ViewBag.Title = "Contact Us";
	Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section id="content-container" class="clearfix">
   <div id="main-wrap" class="clearfix">
   	
   	<!-- START sidebar -->
            <aside class="sidebar left-sidebar">
            <div class="sidebar-widget">
               <p class="widget-heading">Connect With Us</p>
               <ul class="social_icons">
                  <li><a href="http://www.facebook.com/PerfectPlacementServices" class="facebook">Facebook</a></li>
                  <li><a href="mailto:solutions@pps-az.com" class="email">Email</a></li>
               </ul>
            </div>
            <!-- END sidebar-widget -->
         
         
               
               <div class="sidebar-widget">
                  <p class="widget-heading">Contact Details</p>
                  <div class="contact_details">
                     <div class="contact_details_wrap">
                        <p class="address">19820 North 7th Street<br/>Suite 145<br />Phoenix, Arizona 85024</p>
                        <p class="phone"><strong>phone:</strong> 623.842.2900</p>
                        <p class="fax"><strong>fax:</strong> 623.842.2904</p>
                        <p class="email"><strong>email:</strong><br/><a href="mailto:solutions@pps-az.com">solutions@pps-az.com</a></p>
                     </div>
                     <!-- END contact_details_wrap -->            
                  </div>
               </div>
            </aside>
            <!-- END sidebar-->	
   	<div class="page_content_right sub-content">
		<div class="notification success">
			<p> <strong>We have received your correspondence.</strong> <br/>
			Thank you for your interest in Perfect Placement Services, Inc.</p>
		</div>
   	</div>
   </div>
   <!-- END main-wrap -->   
</section>
<!-- END content-container -->